.book-input-container {
    position: relative;
    background-color: #1A1D24;
    width: 300px;

    .book-input {
        width: 100%;
        padding: 9px 0px 9px 10px;
        background: transparent;
        border: none;
        color: #d5d5d5;
        outline: none;
        font: 16px Nunito;
    }

    .book-input-result-box {
        position: absolute;
        top: 100%;
        background-color: #1A1D24;
        width: 100%;
        border-radius: 0 0 3px 3px;
        max-height: 300px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
            position: absolute;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-right: 3px solid transparent;
            border-left: 3px solid transparent;
            background-clip: padding-box;
            border-radius: 9999px;
            background-color: #06090faa;
        }

    }

    .result-box-row {   
        display: grid;
        padding: 0 15px;
        grid-template-areas: "name icon""author icon";
        grid-template-columns: 1fr 18px;
        cursor: pointer;

        &.selected {
            background-color: #13171E;
        }

        .row-name {
            grid-area: name;
            font: 16px Nunito;
            color: #dcdcdc;
        }

        .row-author {
            grid-area: author;
            font: 14px Nunito;
            color: #dcdcdc33;
        }

        .row-icon {
            grid-area: icon;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;

            &.row-icon-reading {
                background-image: url(./img/reading.svg);
            }
            &.row-icon-toRead {
                background-image: url(./img/toRead.svg);
            }
            &.row-icon-read {
                background-image: url(./img/read.svg);
            }
        }
    }
}
.book-name-author-layout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    .book-layout-book {
        color: #d0d0d0;
    }
    .book-layout-author {
        font-size: 0.625em;
        color: #a2a2a2;
    }
}