.container {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    height: 100%;
    padding: 66px 50px 81px 80px;
    box-sizing: border-box;
    background-image: url(./img/bookbg.png);
    background-size: 100%;
    .container-left {
        display: grid;
        grid-template-areas: "datepicker log" "text text";
        grid-template-rows: 441px 1fr;
        grid-template-columns: 477px 477px;
        gap: 7px 7px;
        align-items: flex-end;
        .diary-text, .reading-log { background-color: #1A1B20; }
        .diary-text { 
            grid-area: text;
            align-self: stretch;
            padding: 56px 92px 82px 92px;
            box-sizing: border-box;
            textarea {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                color: #D0D0D0;
                font-family: Nunito;
                resize: none;
            }
        }

        .datepicker {
            grid-area: datepicker;
            width: 477px;
            height: 441px;
            transform: translate(-13px, -21px);
        }

        .reading-log {
            grid-area: log;
            width: 477px;
            height: 423px;
            display: grid;
            grid-template-rows: 1fr auto;
            padding: 20px 37px;
            box-sizing: border-box;
            .reading-log-info {
                text-align: center;
                .reading-log-info-total {
                    color: #D0D0D0;
                    font-size: 20px;
                }
                .reading-log-info-remaining {
                    color: #818181;
                    font-size: 10px;
                }
            }
            .reading-log-items{
                display: flex;
                row-gap: 5px;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                .reading-log-item {
                    position: relative;
                    width: 100%;
                    white-space: nowrap;
                    display: flex;
                    &:hover .reading-log-item-remove svg {
                        opacity: 1;
                    }
                    .reading-log-item-remove {
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        right: -20px;
                        top: 12.5px;
                        cursor: pointer;
                        &:hover svg {
                            opacity: 1;
                        }
                        svg {
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            fill: #8a0e0e;
                        }
                    }
                    >input {
                        padding: 9px 0px 9px 10px;
                        background-color: #2A2D37;
                        border: none;
                        border-radius: 2px;
                        outline: none;
                        color: #D0D0D0;
                        
                        font-family: Nunito;
                        font-size: 16px;
                    }
                    .reading-log-item-name {
                        margin-right: 8px;
                        width: stretch;
                    }
                    .reading-log-item-read {
                        width: 4em;
                    }
                }
            }
        }
    }
    .container-right {
        width: 693px;
        height: stretch;

        .month-overview {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 100%;
            row-gap: 12px;
            font-family: Calibri;
            .month-overview-day {
                width: 50%;
                cursor: pointer;
                display: grid;
                gap: 1px 17px;
                grid-template-areas: "date book rest"  "date read rest";
                grid-template-columns: 2em auto 3em;
                color: #aaa;
                line-height: 19px;
                &:hover {
                    .month-overview-day-date::after {
                        width: 2.5px;
                    }
                }
                .month-overview-day-date {
                    grid-area: date;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0px;
                        background-color: #18191E;
                        width: 1px;
                        height: 100%;
                    }
                }
                .month-overview-day-book {
                    grid-area: book;
                }
                .month-overview-day-read {
                    grid-area: read;
                    color: #5E5E5E;
                    font-size: 14px;
                }
                .month-overview-day-rest {
                    grid-area: rest;
                    color: #7B7B7B;
                }
                .month-overview-day-date, .month-overview-day-rest {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}