a {
    color: unset;
    text-decoration: unset;
}

.plan-container {
    display: grid;
    grid-template-rows: 25px auto;
    background-color: #32343D;
    height: 100%;
    padding: 43px clamp(10px, 6vw, 90px) clamp(10px, 8.33vh, 60px) clamp(10px, 6vw, 90px);
    box-sizing: border-box;
    row-gap: 30px;
    .Header {
        width: 100%;
        justify-self: center;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        max-width: 1250px;
        .YearBarItem {
            font-size: 23px;
            color: #dcdcdc;
            cursor: pointer;
            user-select: none;  
            &:not(.Present):not(.Selected) {
                transition: opacity 150ms;
                opacity: 0;
                font-size: 20px;
                color: #8B8B8B;
            }
            &.Selected {
                opacity: 1;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 5px;
                    bottom: -7px;
                    border-radius: 5px;
                    left: 0;
                    background-color: #1A1B20;
                }
            }
        }
        &:hover .YearBarItem {
            opacity: 1 !important;
        }
    }
    .MonthsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        min-height: 0;
    }
}

.month-container {
    border-radius: 5px;
    cursor: pointer;

    .month-container-inside {
        display: grid;
        grid-template-rows: auto min-content auto;
        height: 100%;
        padding: 0 clamp(10px, 2.6vw, 50px);
        font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 1366px) / (1920 - 1366))), 16px);
    }

    overflow: hidden;
    background-color: #1E1E1E;
    flex-basis: calc(25% - 20px);
    max-width: 440px;

    position: relative;

    .current-date-indicator {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 44px;
        height: 44px;

        path {
            fill: #4796DB;
            stroke: #4796DB;
        }

        text {

            fill: #d0d0d0;
        }
    }

    &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 65%;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    .month-header {
        color: #d0d0d0;
        text-align: center;
        margin-top: 10px;
    }

    .month-logs {
        &>*:not(:last-child) {
            padding-bottom: 0.625em;

        }
    }

    .logs-remaining {
        color: #d0d0d0;
        align-self: flex-start;
        margin-top: 10px;
        margin-left: calc(1.666666666666667em + calc(5px + (11 - 5) * ((100vw - 1366px) / (1920 - 1366))));
        //margin-left: calc(1.666666666666667em + clamp(5px, calc(5px + (11 - 5) * ((100vw - 1366px) / (1920 - 1366))), 11px));
    }
}

.log-row {
    &:not(:last-child) .log-row-line-circle::after {
        bottom: calc(-9px - 0.625em);
        height: calc(6px + 0.625em);
    }

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Nunito;
    color: #d0d0d0;
    white-space: nowrap;
    padding-left: 9px;

    .log-row-line {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #646464;

        &:not(.log-row-line-circle) {
            width: 2px;
            height: calc(100% + 2px);
            border-radius: 2px;
        }
    }

    .log-row-line-circle {
        width: 7px;
        height: 7px;
        top: .7em;
        transform: translateY(-50%);
        left: -2.5px;
        border-radius: 50%;

        &::before {
            border-radius: 2px;

            content: "";
            position: absolute;
            width: 2px;
            height: 6px;
            top: -9px;
            left: calc(50% - 1px);
            background-color: #646464;
        }

        &::after {
            border-radius: 2px;
            content: "";
            position: absolute;
            width: 2px;
            left: calc(50% - 1px);
            background-color: #646464;
            bottom: -9px;
            height: 6px;
        }

    }

    .log-row-date {
        width: 1.666666666666667em;
        height: 1.666666666666667em;
        text-align: center;
        line-height: 1.666666666666667em;
        font-size: 0.75em;
        border-radius: 50%;
        background-color: #363636;
        margin-right: clamp(5px, calc(5px + (11 - 5) * ((100vw - 1366px) / (1920 - 1366))), 11px);

        &.read {
            background-color: #4796DB;
        }
    }
}