@import "./OverviewBoxes.scss";

.overview-diary {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 42px);
    padding: 0px 15px;

    .diary-week {
        margin: 12px 2px 13px 2px;
        box-sizing: border-box;
        text-align: center;
        color: #757575;
    }

    .diary-rows {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: stretch;
        justify-content: space-around;
        overflow: hidden;
        margin: 13px;
        .diary-row {
            display: grid;
            column-gap: 10px;
            grid-template-columns: 35px calc(100% - 95px) 40px;

            .diary-day-name {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                color: #494d5a;

                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    right: -5px;
                    top: 0;
                    background-color: #494d5a;
                }

                &.day-today {
                    color: #a6a9b5;

                    &::after {
                        background-color: #a6a9b5;
                    }
                }
            }

            .diary-book-name {
                color: #d0d0d0;
                white-space: nowrap;
                max-width: 277px;
                overflow: hidden;
                font-size: var(--primary-font-size);
                text-overflow: ellipsis;
            }

            .diary-book-rest {
                font-size: 12px;
                color: #7a7a7a;
            }

            .diary-pages-read {
                display: flex;
                align-items: center;
                position: relative;
                color: #d0d0d0;

                &::before {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    left: -6px;
                    background-color: #494b51;
                }
            }
        }
    }
}