.overview-title {
    width: 100%;
    padding: 4px 0;

    font-size: 25px;
    background-color: #292D3D;
    text-align: center;
    color: #D0D0D0;
    border-radius: 0 0 5px 5px;
    font-family: Nunito;
}