#root,
.App {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #212121;
}

::-webkit-scrollbar-thumb {
    background-color: #818181;
}